
<div id="form_structure"></div>
<div class="col-sm-10 profile-div-10"><div class="container" style="padding-bottom:6px;">
	
    <div class="fb-profile">
      <div id="cover-div">
       
        <div class="cover-camera">
         
            <%= form_for @user, url: update_coverpic_path, html: { multipart: true , remote: true,class: "formData",:id => 'formData',:name => 'formData'}  do |form| %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
             <%if current_user==@user1%>
             <span class="select-wrapper">
             <%= form.file_field :coverpic, id:"file1" , class: "form1"%>
             </span>
          <% end %>
          <%end%>
        </div>

     
          <%=@user1.coverpic.present? ? image_tag(@user1.coverpic.url,id: "cover-pic",class: "fb-image-lg",:align =>"left",:style => "top : #{@user1.coverpos.to_i}px") : image_tag('http://lorempixel.com/850/280/nightlife/5/',class: "fb-image-lg",:align =>"left",:style => "top : 1px")%>
          <a href="#" data-toggle="tooltip" 
          title="you can drag your 
cover picture 
it's save automatically !! "><i class="fa fa-info-circle info-icon"></i></a>
          
          <h4 class="cover_name"><b><%=@user1.fullname%></b></h4>

      </div>
      <% if @user1.avatar.present? %>
                  <%=image_tag(@user1.avatar.url ,id: "imgss",class: "fb-image-profile thumbnail",:align =>"left") %>
                <%elsif @user1.img_url.present? %>
                    <%=image_tag(@user1.img_url ,id: "imgss",class: "fb-image-profile thumbnail",:align =>"left")%>
                <%else%>
                <%=image_tag('/assets/user.png' ,id: "imgss",class: "fb-image-profile thumbnail",:align =>"left") %>
                <%end%> 
              <div class="collapse navbar-collapse ats" id="navbar-collapse-2" style="width: 761px">
          <ul class="nav navbar-nav navbar-right" >
          <%if current_user!=@user1%>
            <%if @friendlogs.present?%>
            <li> <%=link_to "Cancel request" ,user_friendlog_path(@user1.id,@friendlogs.first.id), method: :delete,id: "cancelreq",class: "btn btn-lg btn-info addfriendbtn cancel_req" %></li>
   
            <%else%>
             <li > <%= render "friendlog/new" %></li>
            <%end%>
            <%end%>
           
            
            <li><a href="#">Services</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>
            </li>
          </ul>
    </div></div>
    
     
</div> <!-- /container -->  
</div>
<div class='col-md-10'>
 <div class="col-md-4 albums_div">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" class="tab" data-toggle="tab">
                           Info</a></li>
                            <li><a href="#tab2primary" class="tab" data-toggle="tab">Eductation </a></li>
                            <li><a href="#tab3primary" class="tab" data-toggle="tab">Photos </a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                            <div id="summary" class="admnn admin_02 admin_03">
                              <%= render "users/user_details" %>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="tab2primary">
                          <div id="summary" class="admnn admin_02 admin_03">
                              <%= render "users/user_details1" %>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="tab3primary">Primary 3</div>
                        <div class="tab-pane fade" id="tab4primary">Primary 4</div>
                        <div class="tab-pane fade" id="tab5primary">Primary 5</div>
                    </div>
                </div>
            </div>
        </div>
          <div class="col-lg-8 col-xs-8 post ">
            <div class="[ panel panel-default ] panel-google-plus">
                <section class="album-section" >
        <div class="">
            <div class="">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner" id="align">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active">
                     <a href="#home" data-toggle="tab" title="welcome">
                      <span class="round-tabs one">
                             <i class="fa fa-picture-o"></i>
                             <span class="color">Gallary</span>
                             

                      </span> 
                  </a></li>

                  <li><a href="#profile" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
           </a>
                 </li>
                 <li><a href="#doner" data-toggle="tab" title="bootsnipp goodies">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>
                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">
                      <%if current_user==@user1%>
                        <h4 >Create new album</h4>
                        <%= form_for @album, url: user_albums_path(current_user.id),remote: true  do |f| %>
                         <%=f.text_field :album_name, class: "form-control"%>
                         <%=f.submit class: "btn btn-info btn-picssi"%>

                        <%end%>
                        <%end%>
                        <hr>

                        <div id="albumpage">
                         <%=render "albums/index" %>
                        </div>

                      </div>
                      <div class="tab-pane fade" id="profile">
                         <%= render :partial => 'tree_panes/form_structure',
                          :locals => {:object => @user1, :user_structure => @user_structure} %>
                      </div>
                      <div class="tab-pane fade" id="doner">
                        <h3 class="head text-center">fsdfsa a Boofdsafatsnipp<sup>™</sup> Profile</h3>
                      </div>
                     </div> 
                   </div>


<div class="clearfix"></div>
</div>

</div>
</div>
</div>
</section>
                   
            </div>
        </div>
    </div>
    </div>

<div class="col-md-10">
  <%=render "users/second_content"%>
 </div> 
<%if current_user!=@user1%>
<style>
#cover-pic
{
  position: relative;;
}
</style>
<%end%>
<style>
.ats
{
  width: 780px !important;
  margin-top: 20px;
}

</style>
<%if current_user==@user1%>

<script>

$(function(){

 

 var coverdiv= $("#cover-div").position().top;
 var coverhight= $('#cover-div').height();
 var ui;
 $('#cover-pic').draggable({
  axis : "y",
  drag : function(event, ui)
  {

    if(ui.position.top > coverdiv) 
    {
       
      ui.position.top=coverdiv
     
    }
    else if(ui.position.top <= coverhight-ui.helper.height())
    {
   
     ui.position.top = coverhight-ui.helper.height();

    }
    $.ajax
    ({

    method : "get",
    url : '/fixposition',
   
    // contentType: "charset=utf-8",
   
     data: { coverposition: ui.position.top },
   })





  }


 });


});

</script>
<%end%>
<script>



$(document).ready(function(){
   
$("#formData").change(function(){
 $.ajax
 ({

    method : "post",
    url :  $('#formData').attr("action"),
    contentType: false,               
  processData:false, 
    data:   new FormData(this)

 })


});



});





$(document).ready(function(){
  $('.tab').click(function(){
$('.table').show();
$('#show_summary').show();

  $('#edit_summary').hide();

  $('#edit_profile').hide();


});
 }); 


</script>
<style>

.profile-div-10
{
 margin-top: 5%;
}
 .pull-left {
   margin: 0!important;
    float: right !important;
   }
.pull-left li
{
  display: inline;
  list-style: none;
  
 
}
.table-user-information
{
  margin-top: 5%;
}

.panel-primary .panel-heading
{
  background-color: teal !important;
  padding-left: 0 !important;
}
.panel-primary .panel-heading a
{

  padding-left: 6px !important;
}
.panel-primary .panel-heading a:hover
{
  background-color: teal !important;
  padding-left: 0 !important;
}
body
{
    font-family: 'Open Sans', sans-serif;
}

#cover-div
{
 width: 90%;
 height: 240px;
 overflow: hidden;


}
#cover-pic
{
  cursor: row-resize;
  height: auto !important;
}
.cover-camera{
margin-left: 85%;
    z-index: 9999999;
    position: absolute;
    margin-top: 17.5%;

}
#imgss
{
  margin-left: 29px !important;
}
.cover_name
{

    position: absolute;
    margin-top: 17%;
    margin-left: 22%;
    color: teal;
}
.info-icon
{
      font-size: 21px;
    position: relative;
    margin-left: -26px;
    margin-top: 8px;
    cursor: pointer;
}
.post{
  margin-left: -20px;
}
.color{ color:teal;}
hr{
      background-color: #008080;
    /* color: black; */
    width: 100%;
    height: 1px;

}
#align .nav-tabs {
    border-bottom: 1px solid #ddd;
    text-align: center;
}



.addfriendbtn {
    background-image: url('/assets/addfriend1.png');
    background-position: -2px 3px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding-left: 35px;
    color: white;
    background-color: teal;
    font-size: 15px;
}
.addfriendbtn:hover {
    background-image: url('/assets/addfriend1.png');
    background-position: -2px 3px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding-left: 35px;
    color: white;
    background-color: teal;
    font-size: 15px;
}
.cancel_req
{
  padding-left:  34px !important;
}
.cancel_req:hover
{  
  padding-left:  34px;
  background-color: teal !important;
    font-size: 15px;

}
#addfriendli
{
  display: none;
}
#cancelfriendli
{
  display: none;
}


</style>