
<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->


<%if user_signed_in? %>
<div class="container cont-wid">
    <div class="row profile col-md-10">
	    <aside class="sm-side col-md-3">
        <div class="user-head">
            <a class="inbox-avatar" href="javascript:;">
              <% if current_user.avatar.present? %>
                <%=image_tag(current_user.avatar.url ,id: "imgss",class: "img-responsive background") %>
              <%elsif current_user.img_url.present? %>
                <%=image_tag(current_user.img_url ,id: "imgss",class: "img-responsive background") %>
              <%else%>
                <%=image_tag('/assets/user.png' ,id: "imgss",class: "img-responsive background") %>
              <%end%>
            </a>
            <div class="user-name">
                <h5><a href="#"><%= current_user.fullname %></a></h5>
                <!-- <span><a href="#">Info.Ali.Pci@Gmail.com</a></span> -->
            </div>
        </div>
        <ul class="inbox-nav inbox-divider">
            <li class="active">
                <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">2</span></a>

            </li>
            <li>
                <a href="#"><i class="fa fa-envelope-o"></i> Sent Mail</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
            </li>
            <li>
                <a href="#"><i class=" fa fa-external-link"></i> Drafts <span class="label label-info pull-right">30</span></a>
            </li>
            <li>
                <a href="#"><i class=" fa fa-trash-o"></i> Trash</a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
            <li> <h4>Labels</h4> </li>
            <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>
            <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
            <li> <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
            </li><li> <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
            </li><li> <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked labels-info ">
            <li> <h4>Buddy online</h4> </li>
            <li> <a href="#"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>  </li>
            <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a> </li>
            <li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
            </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
            </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
            </li>
        </ul>
        <div class="inbox-body text-center">
        <div class="btn-group">
          <a class="btn mini btn-primary" href="javascript:;">
              <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="btn-group">
          <a class="btn mini btn-success" href="javascript:;">
              <i class="fa fa-phone"></i>
          </a>
        </div>
        <div class="btn-group">
          <a class="btn mini btn-info" href="javascript:;">
              <i class="fa fa-cog"></i>
          </a>
        </div>
        </div>
      </aside>
		<div class="col-md-7" style="width: 54%">
      <%=render 'welcome/profile_disc'%>
            <div class="profile-content">
			    
           
            <div id="posts">
            	<%=render 'posts/index'%>
            </div>
           </div>
      <div class="col-md-2 right-pane">
        kdjfkdsajfa
      </div>
		</div>
  
	</div>
</div>
<div id="chat-panel" style="width: 50px; height: 100px">
  <%=render 'welcome/chat'%>
</div>
<%else%>
<div class="col-sm-6 enter">

<a href="/users/sign_up" class="btn btn-lg btn-success signup"><span class="glyphicon glyphicon-align-left"></span> Sign up</a>
<br>
<a href="/users/sign_in" class="btn btn-lg btn-success signin"><span class="glyphicon glyphicon-align-left"></span> Sign In</a>
</div>
<%end%>
<script>



$(document).ready(function(){
 
  // setInterval(function(){get_last_seen();}, 10000);
$("#formData").change(function(){
   $(".img-responsive").hide();
   $(".loader").show();
 $.ajax
 ({
    method : "post",
    url :  $('#formData').attr("action"),
    contentType: false,               
	processData:false, 
    data:   new FormData(this)
 })
});
});

function get_last_seen()
{
  $.ajax({
    type: "get",
    url: "/who_is_online"
    })
}
</script>
<style>
.enter
{
  float: right;
   border-left: 1px solid #000000;
    height: 100%;

}
.signup
{
 height: 55px;
    width: 304px;
        margin-left: 153px;
    margin-top: 102px;
    background-color: teal;
    color:white;
    border-radius: 25px;


}
.signin
{
   height: 55px;
    width: 304px;
        margin-left: 153px;
    margin-top: 18px;
    background-color: teal;
    color:white;
    border-radius: 25px;

}
.signup .glyphicon
{
color: white;
}
.signin .glyphicon
{
color: white;
}

/*body, html {
    height: auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));
}*/
