
<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->


<%if user_signed_in? %>
<div class="container cont-wid">
    <div class="row profile col-md-10">
	    <aside class="sm-side col-md-3">
        <div class="user-head">
            <a class="inbox-avatar" href="javascript:void(0);">
             <%=user_picture(current_user,"imgss","img-responsive background")%>
            </a>
            <div class="user-name">
              <h5><a href="#"><%= current_user.fullname %></a></h5>
                 <!-- <span><a href="#">Info.Ali.Pci@Gmail.com</a></span> -->
            </div>
        </div>
        <ul class="nav nav-pills nav-stacked labels-info ">
            <li><%= link_to "Create Page", create_page_path(current_user.id) %></li>
             <li><%= link_to "Settings", user_settings_path(current_user) %></li>
            
        </ul>
        
      </aside>
		<div class="col-md-7" style="width: 54%">
      <%=render 'welcome/profile_disc'%>
            <div class="profile-content">
			    
           
            <div id="posts">
            	<%=render 'posts/index'%>
            </div>
           </div>
      <div class="col-md-2 right-pane">
        <%=render "welcome/find_friends"%>
      </div>
      <div class="col-md-2 right-pane" style="padding:0px">
        <%=render "pages/list"%>
      </div>
		</div>
  
	</div>
</div>
<div id="chat-panel" style="width: 50px; height: 100px">
  <%=render 'welcome/chat'%>
</div>
<%else%>
<div class="col-sm-6 enter">

<a href="/users/sign_up" class="btn btn-lg btn-success signup"><span class="glyphicon glyphicon-align-left"></span> Sign up</a>
<br>
<a href="/users/sign_in" class="btn btn-lg btn-success signin"><span class="glyphicon glyphicon-align-left"></span> Sign In</a>
</div>
<%end%>
<script>



$(document).ready(function(){
 
  //setInterval(function(){get_last_seen();}, 10000);
$("#formData").change(function(){
   $(".img-responsive").hide();
   $(".loader").show();
 $.ajax
 ({
    method : "post",
    url :  $('#formData').attr("action"),
    contentType: false,               
	processData:false, 
    data:   new FormData(this)
 })
});
});

function get_last_seen()
{
  $.ajax({
    type: "get",
    url: "/who_is_online"
    })
}
</script>
<style>
.sm-side .nav{margin-top: 150px;}
</style>