
<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->


<%if user_signed_in? %>
<div class="container cont-wid">
    <div class="row profile col-md-10">
	    <aside class="sm-side col-md-3">
        <div class="user-head">
            <a class="inbox-avatar" href="javascript:void(0);">
             <%=user_picture(current_user,"imgss","img-responsive background")%>
            </a>
            <div class="user-name">
              <h5><a href="#"><%= current_user.fullname %></a></h5>
                 <!-- <span><a href="#">Info.Ali.Pci@Gmail.com</a></span> -->
            </div>
        </div>
        <ul class="inbox-nav inbox-divider">
            <li class="active">
              <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">2</span></a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
            <li> <h4>Labels</h4> </li>
            <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>
            <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
            <li> <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
            </li><li> <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
            </li><li> <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked labels-info ">
            <li> <h4>Buddy online</h4> </li>
            <li> <a href="#"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>  </li>
            <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a> </li>
            <li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
            </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
            </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
            </li>
            <li><%= link_to "Create Page", create_page_path(current_user.id) %></li>
        </ul>
        <div class="inbox-body text-center">
        <div class="btn-group">
          <a class="btn mini btn-primary" href="javascript:;">
              <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="btn-group">
          <a class="btn mini btn-success" href="javascript:;">
              <i class="fa fa-phone"></i>
          </a>
        </div>
        <div class="btn-group">
          <a class="btn mini btn-info" href="javascript:;">
              <i class="fa fa-cog"></i>
          </a>
        </div>
        </div>
      </aside>
		<div class="col-md-7" style="width: 54%">
      <%=render 'welcome/profile_disc'%>
            <div class="profile-content">
			    
           
            <div id="posts">
            	<%=render 'posts/index'%>
            </div>
           </div>
      <div class="col-md-2 right-pane">
        <%=render "welcome/find_friends"%>
      </div>
		</div>
  
	</div>
</div>
<div id="chat-panel" style="width: 50px; height: 100px">
  <%=render 'welcome/chat'%>
</div>
<%else%>
<div class="col-sm-6 enter">

<a href="/users/sign_up" class="btn btn-lg btn-success signup"><span class="glyphicon glyphicon-align-left"></span> Sign up</a>
<br>
<a href="/users/sign_in" class="btn btn-lg btn-success signin"><span class="glyphicon glyphicon-align-left"></span> Sign In</a>
</div>
<%end%>
<script>



$(document).ready(function(){
 
  setInterval(function(){get_last_seen();}, 10000);
$("#formData").change(function(){
   $(".img-responsive").hide();
   $(".loader").show();
 $.ajax
 ({
    method : "post",
    url :  $('#formData').attr("action"),
    contentType: false,               
	processData:false, 
    data:   new FormData(this)
 })
});
});

function get_last_seen()
{
  $.ajax({
    type: "get",
    url: "/who_is_online"
    })
}
</script>
