
<div class="backalbum"><i class="fa fa-arrow-circle-left"></i><%=link_to "back",user_albums_path(@user1), remote: true %></div>	
<%if current_user==@user1%>
<%= form_for Photo.new, url: user_album_photos_path(current_user,@album), html: { multipart: true , remote: true,class: "formData1",:id => 'formData1',:name => 'formData1'}  do |form| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    		 <span class="new"> <span style="margin-left: 36px;margin-top: 6px;">Addphoto</span>
	 <%= form.file_field :pic, id:"file1" , class: "form1",multiple: true%>

		</span>
	<%end%>
<%end%>

<div class="col-sm-12 album-md-12">
    <div class="row">
<%
 FileUtils.rm_rf(Dir.glob('#{Rails.root.to_s}/app/assets/images/tmp/*')) 
tmp = []
 %>
<%@photos.each_with_index do |photo, index|%>
<div class="container">
    <div class="row">
      <div class='list-group gallery'>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            <a class="thumbnail fancybox" rel="ligthbox" href="<%= photo.pic.url%>">
                 <%= image_tag photo.pic.url , class: 'img_view img-responsive'%>
                
                <div class='text-right'>
                    <small class='text-muted'>Image Title</small>
                </div> <!-- text-right / end -->
            </a>
        </div> <!-- col-6 / end -->
      </div> <!-- list-group / end -->
    </div> <!-- row / end -->
</div> 
<div class="col-md-4">
	<%#
	frmat =(File.extname(photo.pic_file_name)).gsub("..",".")
    
    encrypted_file_content = (File.read(photo.pic.path) rescue Net::HTTP.get(URI(photo.pic.url)))

    secured_keys=SecuredKey.last
    debugger
    file_content = AES.decrypt(encrypted_file_content, secured_keys.key)
    tmp[index] = Tempfile.new([File.basename((photo.pic_file_name), frmat)+index.to_s, frmat], "#{Rails.root.to_s}/app/assets/images/tmp/")
    tmp[index] << file_content.force_encoding('utf-8')
    tmp[index].flush 
    file = tmp[index]
	%>
    <%#= image_tag file.path.gsub("images/","").split("/app",2)[1], class: "img_view"%>
   
</div>
<% end %>
<%# tmp.collect{|a| a.unlink} %>


</div>
</div>

<script>
$(document).ready(function(){

$("#formData1").change(function(){


 $.ajax
 ({

    method : "post",
    url :  $('#formData1').attr("action"),
    contentType: false,               
	processData:false, 
    data:   new FormData(this)

 })

});

});

$(document).ready(function(){
    //FANCYBOX
    //https://github.com/fancyapps/fancyBox
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});

</script>
<style>
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.img_view
{
	max-width: 200px;
	max-height: 220px;
	min-width: 170px;
	min-height: 178px;
	padding: 1px;

}
.addphoto

{

	width: 40px;

}
.new
{
	 background: url(/assets/add.png) no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
   
}
.form1
{
	cursor: pointer;
}
.backalbum
{
	    float: right;
    margin-right: 10px;

}
</style>
