
        <div class="[ col-xs-15 col-sm-15 ]" style="margin-top:3%;">
         <%@posts.each do |post|%>
            <div id="post<%=post.id%>" class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><%= link_to "view post", user_post_path(post.user, post)%></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        
                        <%if post.user_id.to_i == current_user.id%>
                        <li role="presentation"><%=link_to "Delete" ,user_post_path(current_user,post),remote: true, method: :delete%></li>
                        <%end%>
                    </ul>
                </div>
                <div class="panel-google-plus-tags">
                    <ul>
                        <li>#Snippet</li>
                    </ul>
                </div>
                <div class="panel-heading">
                <% if post.user.avatar.present? %>
                  <%=image_tag(post.user.avatar.url ,id: "imgss",class: "[ img-circle pull-left ]",:width=>"40") %>
                <%elsif post.user.img_url.present? %>
                    <%=image_tag(post.user.img_url ,id: "imgss",class: "[ img-circle pull-left ]",:width=>"40") %>
                <%else%>
                <%=image_tag('/assets/user.png' ,id: "imgss",class: "[ img-circle pull-left ]",:width=>"40") %>
                <%end%> 
        
                    <h3><%=link_to "#{post.user.fullname}" ,user_profile_path(post.user.id) %>
                    <highlight><%= post_event_view(post)  if post.post_event.present? %></highlight><span class="user-tags"><%= post_tag(post) unless post.tags.empty? %></span></h3>
                    <h5><span>Shared publicly</span> - <span>
                    <%= time_ago_in_words(post.created_at) %> ago</span> </h5>
                </div>
                <div class="panel-body" >
                  <%=raw post.post_name%>
                  <%=post_movie_event_view(post) if post.post_event.try(:event_type).eql?("watching")%>

                    <div class="row grid">
                     <% if post.photoposts.present?%>
                      <%post.photoposts.each do |photo|%>
                            <div class="col-md-12 thumbnail">
                            <%#= post_photo(photo.id,photo.photopst_file_name) %>
                            <%=image_tag(photo.photopst.url) %>
                          </div>
                    
                      <%end%>
                     <%end%> 
                  </div> 
                </div>

                <div class="panel-footer col-md-12">
                <div class="col-md-4">
                   <span class="like-btn"> <!-- Default like button -->
                  
                   <ul class="reactions-box">
                    <%=link_to "." ,user_post_likes_path(current_user,post.id, emotions: "like"),:id => "sp",class: "reaction reaction-like",method: :post,remote: true,data: {reaction: "Like"}%>
                    <%=link_to "." ,user_post_likes_path(current_user,post.id,emotions: "love"),:id => "sp",class: "reaction reaction-love",method: :post,remote: true,data: {reaction: "Love"}%>
                      <%=link_to "" ,user_post_likes_path(current_user,post.id,emotions: "haha"),:id => "sp",class: "reaction reaction-haha",method: :post,remote: true,data: {reaction: "HaHa"}%>
                      <%=link_to "" ,user_post_likes_path(current_user,post.id,emotions: "wow"),:id => "sp",class: "reaction reaction-wow",method: :post,remote: true,data: {reaction: "Wow"}%>
                      <%=link_to "" ,user_post_likes_path(current_user,post.id,emotions: "sad"),:id => "sp",class: "reaction reaction-sad",method: :post,remote: true,data: {reaction: "Sad"}%>
                      <%=link_to "" ,user_post_likes_path(current_user,post.id,emotions: "angry"),:id => "sp",class: "reaction reaction-angry",method: :post,remote: true,data: {reaction: "Angry"}%>
                    </ul>
                 
                    <%if !post.likes.find_by_user_id(current_user.id).present?%>
                      <span class="like-btn-emo like-btn-default"></span>
                      <span class="like-btn-text">Like</span>
                    <%else%>
                      <%@like = post.likes.find_by_user_id(current_user.id)%>
                      <span class="like-btn-emo like-btn-<%= @like.emotion %>"></span>
                      
                       <%=link_to "#{@like.emotion.titleize}" ,user_post_like_path(current_user.id,post.id,@like.id),:id => "sp1",class: " like-btn-text like-btn-text-#{@like.emotion} active",method: :delete,remote: true%>
                    <%end%>
                    
                  </span>
                    <button type="button" class="[ btn btn-default ] share-btn">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
                  </div>
                   <div class="col-md-8">
                    <%= form_tag  user_post_comments_path(current_user,post) ,remote: true ,multipart: true do%>
                    <div class="panel-google-plus-textarea">
                        
                            <div class="photo-c"><textarea id="post_post_name" rows="1" class="text_areasize1 text_my textarea-control form-control tagged_text" name="comment[comment_name]"  data-emojiable="true" style="height: 100px;"></textarea placeholder="what's in your mind">
                                <span class="select-wrapper">
                                <input type="file" name="comment[comment_pic]" id="image_src" />
                                </span>
                                <%=submit_tag "comment"%>
                                <%end%>
                        </div>

                       
                      <!--   <textarea name rows="1"></textarea> -->

                    </div></div>
                    <div class="like-stat">
                        <span><%=post.likes.count%></span>
                     <!-- Like statistic container-->
                        <span class="like-emo"> <!-- like emotions container -->
                           <%unless last_post(post).nil?%>
                                <span class="like-btn-<%=last_post(post).try(:emotion)%>"></span>
                            <% end %>

                            <%if post.likes.find_by_user_id(current_user.id).present?%>
                              <span class="like-btn-<%=@like.emotion%>"></span>
                            <% end %>
                             <!-- given emotions like, wow, sad (default:Like) -->
                        </span>
                        <%if post.likes.present?%>
                            <span class="like-details"><%= last_post(post).nil? ? 'You': (current_user_like(post).nil? ? last_post(post).try(:user).try(:fullname) : "You & "+last_post(post).try(:user).try(:fullname))%></span>
                        <%else%>
                         <span class="like-details">No likes</span>
                        <%end%>
                        <div id="post_comment_<%=post.id%>">
                          <%post.comments.each do |comment|%>
                            <div id="comment_<%=comment.id%>">

                                <%=comment.comment_name%>
                            </div>
                           
                          <%end%>
                        </div>
                    </div>
                </div>
                
            </div>
              <hr id="hr<%=post.id%>" class="gape">
            <%end%>

        </div>

    </div>


<style>

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: rgb(229, 229, 229);
    padding-top: 60px;
    padding-bottom: 30px;
}
.text_areasize1{    height: 17px !important;
    width: 55% !important;}
    .photo-c{
    width: 300px;
    /*border: 1px solid #333;*/
    padding-top: 4px;
    display: inline-flex;
}
.photo-c i{font-size: 27px;}
.select-wrapper {
    background: url(http://s10.postimg.org/4rc0fv8jt/camera.png) no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: 33px;
    height: 26px;
}
#image_src {
    width: 26px;
    height: 26px;
    margin-right: 100px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 5-7 */
}
.gape
{
    height: 6px;
    color: black;
    background-color: #E5E5E5;
    width: 530px;
    margin-left: -5px;"
}

.thumbnail {
    max-width: 100%;
    min-width: 71%;
}
.thumbnail img
{
    width: 100%;
}

.panel-google-plus {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    right: 4px;
    top: 0;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;   
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
      margin-top: 10px;
    padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img { 
 
    margin-right: 8px;
    margin-top: -9px;
   margin-left:  -4px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 20px;
     color :gray;
}
.panel-google-plus > .panel-heading > h3 .user-tags {
    margin: 0px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 20px;
     color :gray;
}
.panel-google-plus > .panel-heading > h3 span 
{
    color :teal;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 9px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

span.rating, span.rating span {
    display: block;
    background: url('/assets/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.rating span {
    background-position: 0 0;
}

.btn_new
{

    border: wheat !important;
    font-size: 16px;
}


.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}

.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    display: inline-block !important;
    height: 20px !important;
    width: 62% !important;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 90%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}


.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}
</style>

<script>
$(function() {
    $('span.rating').stars();
});
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
}

$(function () {
   $('.panel-google-plus > .panel-footer > .input-placeholder, .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > button[type="reset"]').on('click', function(event) {
        var $panel = $(this).closest('.panel-google-plus');
            $comment = $panel.find('.panel-google-plus-comment');
            
        $comment.find('.btn:first-child').addClass('disabled');
        $comment.find('textarea').val('');
        
        $panel.toggleClass('panel-google-plus-show-comment');
        
        if ($panel.hasClass('panel-google-plus-show-comment')) {
            $comment.find('textarea').focus();
        }
   });
   $('.panel-google-plus-comment > .panel-google-plus-textarea > textarea').on('keyup', function(event) {
        var $comment = $(this).closest('.panel-google-plus-comment');
        
        $comment.find('button[type="submit"]').addClass('disabled');
        if ($(this).val().length >= 1) {
            $comment.find('button[type="submit"]').removeClass('disabled');
        }
   });
});
</script>