
<div  class="[ col-xs-15 col-sm-15 ]" style="margin-top:3%;">
    
            <div id="post<%=post.id%>" class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><%= link_to "view post", user_post_path(post.user, post)%></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        
                        <%if post.user_id.to_i == current_user.id%>
                        <li role="presentation"><%=link_to "Delete" ,user_post_path(current_user,post),remote: true, method: :delete%></li>
                        <%end%>
                    </ul>
                </div>
                <div class="panel-google-plus-tags">
                    <ul>
                        <li>#Snippet</li>
                    </ul>
                </div>
                <div class="panel-heading">
                  <%= user_picture(post.user,"imgss","[ img-circle pull-left ]",48) %>
                    <h3><%=post.user.fullname%></h3>
                    
                    <h5><span>Shared publicly</span> - <span>
                    <%= time_ago_in_words(post.created_at) %> ago</span> </h5>
                </div>
                <div class="panel-body" >
                  <%=raw post.post_name%>
                  
                    <div class="row grid">
                     <% if post.photoposts.present?%>
                      <%post.photoposts.each do |photo|%>
                        
                            <div class="col-xs-4 thumbnail">
                                <%=image_tag(photo.photopst.url) %>
                          </div>
                    
                      <%end%>
                     <%end%> 
                  </div> 
                </div>
                <div class="panel-footer">
                 <span class="like-btn"> <!-- Default like button -->
                  <span class="like-btn-emo like-btn-default"></span> 
                  <span class="like-btn-text">Like</span>
                  <div> <%=post.likes.count%></div>
                    <%if !post.likes.find_by_user_id(current_user.id).present?%>

                   <%=link_to "like" ,user_post_likes_path(current_user,post.id),:id => "sp",class: " like-btn-text [ btn btn-default ] btn_new glyphicon glyphicon-heart-empty",method: :post,remote: true%> 
                 
                    <%else%>
                   
                      <%@likeid=post.likes.find_by_user_id(current_user.id).id%>
                  
                       <%=link_to "unlike" ,user_post_like_path(current_user.id,post.id,@likeid),:id => "sp1",class: "[ btn btn-default ] btn_new glyphicon like-btn-text glyphicon-heart",method: :delete,remote: true%>

                    <%end%>
                    <ul class="reactions-box"> <!-- Reaction buttons container-->
                      <li class="reaction reaction-like" data-reaction="Like"></li>
                      <li class="reaction reaction-love" data-reaction="Love"></li>
                      <li class="reaction reaction-haha" data-reaction="HaHa"></li>
                      <li class="reaction reaction-wow" data-reaction="Wow"></li>
                      <li class="reaction reaction-sad" data-reaction="Sad"></li>
                      <li class="reaction reaction-angry" data-reaction="Angry"></li>
                    </ul>
                  </span>
                    <button type="button" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
                    <div class="input-placeholder">Add a comment...</div>
                    
                </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="/assets/user.png" width="38px" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        <textarea rows="1"></textarea>
                        <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
           <hr id="hr<%=post.id%>"  class="gape">
        </div>

    </div>

</div>

</div>
<style>

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: rgb(229, 229, 229);
    padding-top: 60px;
    padding-bottom: 30px;
}

</style>

<script>

$(function () {
   $('.panel-google-plus > .panel-footer > .input-placeholder, .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > button[type="reset"]').on('click', function(event) {
        var $panel = $(this).closest('.panel-google-plus');
            $comment = $panel.find('.panel-google-plus-comment');
            
        $comment.find('.btn:first-child').addClass('disabled');
        $comment.find('textarea').val('');
        
        $panel.toggleClass('panel-google-plus-show-comment');
        
        if ($panel.hasClass('panel-google-plus-show-comment')) {
            $comment.find('textarea').focus();
        }
   });
   $('.panel-google-plus-comment > .panel-google-plus-textarea > textarea').on('keyup', function(event) {
        var $comment = $(this).closest('.panel-google-plus-comment');
        
        $comment.find('button[type="submit"]').addClass('disabled');
        if ($(this).val().length >= 1) {
            $comment.find('button[type="submit"]').removeClass('disabled');
        }
   });
});
</script>



